{%extends "base.html" %}<!--uses the base template to be overidden-->
<title>{% block title%}Sign Up{%endblock%}</title>
{%block Nav%}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/login">Login</a></li>
    <li><a class="active" href="/signup">Signup</a></li>
</ul>
{%endblock%}
{%block content%}
<form method="POST">
    <div class="form-group" align="center">
      <br style="color:#2c3e50">
      <label for="email" style="color:white;" >Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        style="max-width: 350px;"
      />
    </div>
    <div class="form-group" align="center">
      <label for="firstName" style="color:white;" >First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
        style="max-width: 350px;"
      />
    </div>
    <div class="form-group" align="center">
      <label for="lastName" style="color:white;" >Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="Enter last name"
        style="max-width: 350px;"
      />
    </div>
    <div class="form-group" align="center">
      <label for="password1" style="color:white;" >Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
        style="max-width: 350px;"
      />
    </div>
    <div class="form-group" align="center">
      <label for="password2" style="color:white;" >Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
        style="max-width: 350px;"
      />
    </div>
    <br />
    <div align="center">
    <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  </form>
{%endblock%}